<div style="position: fixed; height: 100%; width: 100%; background-color: #fff;">
  <div style="width: 100%; position: fixed; bottom: 0;">
    <%= image_tag 'MG_splash_bg.png', style: "width: 100%; height: auto; position: relative; bottom: -4px;" %>
  </div>

  <div style="text-align: center; position: relative; top: 35%;">
    <div style="font-family: Raleway-SemiBold; font-size: 20pt; color: #00a59b; position: relative; top: -60px;">
      COMING SOON
    </div>
    <%= image_tag 'MG_splash_logo.png', style: "width: 45%; height: auto;" %>
    <div style="font-family: Raleway-Light; font-size: 31pt; color: #5d5d5d; position: relative; top: 30px;">
      The Message is in the Mix.
    </div>
  </div>
</div>
