files:
  "/home/ec2-user/application.yml" :
    mode: "000755"
    owner: root
    group: root
    content: |
      SMTP_ADDRESS: email-smtp.us-east-1.amazonaws.com
      SMTP_PORT: 587
      SMTP_DOMAIN: mixtagr.am
      SMTP_USER: ***REMOVED***
      SMTP_PASS: ***REMOVED***

      NOTIFICATION_EMAILS: graham@mixtagr.am